<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <title>ToDo List</title>
</head>
<body>
  <main class="container">
  <form action="/" method="POST">
    <div class="form-group row">
      <label for="subject" class="col-sm-2">Subject</label>
      <input id="subject" type="text" name="subject" class="form-control col-sm-6">
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2">Description</label>
      <textarea id="description" type="text" name="description" class="form-control col-sm-6"></textarea>
    </div>
    <div class="form-group row">
      <label for="deadline" class="col-sm-2">Deadline</label>
      <input id="Deadline" type="text" name="deadline" class="form-control col-sm-4">
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary offset-sm-7">Register</button>
    </div>
    </ul>
    <hr>
    <table class="table table-bordered">
      <thead>
        <th>Deadline</th>
        <th>Subject</th>
        <th>Description</th>
      </thead>
      <tbody>
        <% for (const task of tasks) { %>
          <tr>
            <td><%= task.deadline %></td>
            <td><%= task.subject %></td>
            <td><%= task.description %></td>
            <td><a href="#" class="btn btn-sm btn-danger" onclick="deleteTask(<%= task.id %>)">Delete</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  </form>
  </main>
</body>
</html>
